.calculadora {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.display {
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
}
.button.clear {
    background-color: #f44336;
    color: white;
}
.button.operation {
    background-color: #007bff;
    color: white;
}
.button.equal {
    background-color: #4CAF50;
    color: white;
    grid-column: span 2;
}
.button.plus {
    grid-row: 4;
    grid-column: 4;
}
.button.equal {
    grid-row: 5; 
    grid-column: 3 / span 2;
}